<form method="POST" action="/me/courses/handle-form-action" >
  <div class="mt-3">
    <div>
        <h3>My Courses</h3>
        <a href="/me/trash/courses">Trash ({{count}})</a>
    </div>
    <div class="mt-3 w-25 d-flex gap-2 align-items-center">
       <select class="form-select" aria-label="Default select example" name="action" required>
        <option value="" selected>--Select action--</option>
        <option value="delete">Delete courses</option>
      </select>
      <button id="form-action-btn" type="submit" class="btn btn-primary" disabled>Submit</button>
    </div>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">
              <div class="form-check">
                <input class="form-check-input checkbox-all-courses" type="checkbox">
              </div>
            </th>
            <th scope="col">#</th>
            <th scope="col">
              Name
              <a href="">
                <i class="fa-solid fa-up-down"></i>
              </a>
            </th>
            <th scope="col">Description</th>
            <th scope="col">Level</th>
            <th scope="col">Created at</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each courses}}
        <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input checkbox-item-course" type="checkbox" name="courseIds" value="{{this._id}}">
              </div>
            </td>
            <td scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/me/courses/{{this._id}}" class="btn btn-link">Edit</a>
                <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{this._id}}">Delete</a>
            </td>
        </tr>
        {{else}}
        <th>
            <td colspan="5" class="text-center">
            You have not posted a course yet.
            <a href="/courses/create">Create course</a>
            </td>
        </th>
        {{/each}}
        </tbody>
    </table>
</div>
</form>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to proceed?
      </div>
      <div class="modal-footer">
        <button id="delete-course-btn" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<form id="delete-course-form" method="POST"></form>

<script>
    var idCourse;
    var deleteCourseForm = document.getElementById('delete-course-form');
    var checkboxItemCourses = document.querySelectorAll('.checkbox-item-course');
    var checkboxAllCourses = document.querySelectorAll('.checkbox-all-courses');
    var formActionBtn = document.getElementById('form-action-btn');

    document.addEventListener("DOMContentLoaded", function(){
            var exampleModal = document.getElementById('exampleModal');
            exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            idCourse = button.getAttribute('data-id');
        });

        var deleteCourseBtn = document.getElementById('delete-course-btn');
        deleteCourseBtn.addEventListener('click', function(){
           deleteCourseForm.action = `/me/courses/${idCourse}/delete?_method=DELETE`;
           deleteCourseForm.submit();
        });

        checkboxAllCourses.forEach((checkbox) => {
            checkbox.addEventListener('change', function (e) {
              formActionBtn.disabled = !e.target.checked;
              checkboxItemCourses.forEach(item=> {
                item.checked = e.target.checked;
              });
            });
        });

        checkboxItemCourses.forEach(item=> {
          item.addEventListener('change', function(e){
            const isAllItem = document.querySelectorAll('input[name="courseIds"]:checked').length === checkboxItemCourses.length;
            formActionBtn.disabled = !document.querySelectorAll('input[name="courseIds"]:checked').length;
            checkboxAllCourses[0].checked =  isAllItem;
          })
        });
    })
</script>